* {
    outline: none;
    text-decoration: none;
}
body {
    background-image: url("https://i.gifer.com/gw6.gif");
    background-position: 100%;
    background-size: contain;
}
input {
    width: 400px;
    height: 50px;
    text-align: center;
    font-size: 20px;
    background-color: rgba(219, 241, 255, .5);
    border-color: rgba(60, 161, 217, 0.521);
    border-width: 3px;
    border-radius: 8px;
    
}
button {
    cursor: pointer;
    width: 400px;
    background-color: rgba(219, 241, 255, .5);
    border-color: rgba(54, 160, 216, 0.5);
    border-width: 3px;
    border-radius: 8px;
}
button:hover {
    background: rgba(54, 160, 216, 0.521);
    border: 2px solid rgba(97, 49, 228, 0.521);
}
.container {
    max-width: 720px;
}
.one {
    background: #ffffff;
    padding: 20px 10px;
    text-align: center;
  }
.one h1 {
    font-family: 'Righteous', cursive;
    position: relative;
    color: #3CA1D9; 
    display: inline-block;
    border-top: 2px solid;
    border-bottom: 2px solid;
    font-size: 3em;
    padding: 11px 50px;
    margin: 0; 
    line-height: 1;
}
.one h1:before, .one h1:after {
    content: ""; 
    position: absolute;
    top: 0;
    width: 30px;
    height: 100%;
    border-left: 2px solid;
    border-right: 2px solid;
    background: repeating-linear-gradient(180deg, transparent, transparent 2px, #3CA1D9 2px, #3CA1D9 4px);
}
.one h1:before {left: 0;}
.one h1:after {right: 0;}
@media (max-width: 420px) {
    .one h1 {font-size: 2em;}
}
div.output {
    font-size: 1rem;
    letter-spacing: 1px;
    padding: 10px;
    max-width: 100%;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #353859;
    box-shadow: 1px 1px 1px #999;
    background-color: rgb(219, 241, 255);
    width: 525px;
    height: 300px;
    text-align: justify;
}
